extends ../../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КВ-123-02

block content
    +header('../../../groupoid.svg', 'Теорія графів', 'Курс лекцій для студентів першого курсу кафедри теоретичної інформатики КВ-123-02')
    article.main
        .om
            aside <span>Автор</span>: <b>Ойстін Оре</b><br>
                <span>Код курсу</span>: <b><a href="../">КВ-123-02</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>
            section
                h1 Теорія графів
            section
                p.
                    Теорія графів &mdash; базовий курс дискретної математики
                    присвячений CW-комплексам першої розмірності (графам).
        .index
            .index__col
                ul
                    li: a(href='#') 1. Основні поняття
                    li: a(href='#') 2. Зв'язність
                    li: a(href='#') 3. Ланцюги
                    li: a(href='#') 4. Дерева
                    li: a(href='#') 5. Листи та блоки
                    li: a(href='#') 6. Орієнтовані графи
                    li: a(href='#') 7. Ациклічні графи
                    li: a(href='#') 8. Часткова впорядкованість
                    li: a(href='#') 9. Хроматичні графи
                    li: a(href='#') 10. Спектральна теорія графів
                    li: a(href='#') 11. Графи та групи

