extends ../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КМ-113

block content
    +header('../../groupoid.svg', 'Прикладна математика', 'Курси лекцій другого освітнього рівня КМ-113')
    article.main
        .om
            section
                h1 КАФЕДРА ПРИКЛАДНОЇ МАТЕМАТИКИ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КМ-113</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

        .index
            .index__col
                h2 Курси кафедри
                ul
                    li: a(href='01 Дискретна математика') 1. Дискретна математика
                    li: a(href='02 Математична статистика') 2. Математична статистика
                    li: a(href='03 Формальні логіки') 3. Формальні логіки
                    li: a(href='04 Комплексний аналіз') 4. Комплексний аналіз
                    li: a(href='05 Чисельні методи') 5. Чисельні методи
                    li: a(href='06 Математичний аналіз') 6. Математичний аналіз
                    li: a(href='07 Функціональний аналіз') 7. Функціональний аналіз
                    li: a(href='08 Звичайні диференційні рівняння') 8. Звичайні диференційні рівняння
                    li: a(href='09 Диференційні рівняння в частинних похідних') 9. Диференційні рівняння в частинних похідних
                    li: a(href='10 Рівняння математичної фізики') 10. Рівняння математичної фізики
