extends ../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КМ-111

block content
    +header('../../groupoid.svg', 'Чиста математика', 'Курси лекцій другого освітнього рівня КМ-111')
    article.main
        .om
            section
                h1 КАФЕДРА ЧИСТОЇ МАТЕМАТИКИ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КМ-111</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

        .index
            .index__col
                h2 Курси кафедри
                ul
                    li: a(href='01 Алгебра/') 1. Алгебра
                    li: a(href='02 Геометрія/') 2. Геометрія
                    li: a(href='03 Теорія гомотопій/') 3. Теорія гомотопій
                    li: a(href='04 Теорія чисел/') 4. Теорія чисел
                    li: a(href='05 Теорія схем Гротендіка/') 5. Теорія схем Гротендіка
                    li: a(href='06 p-адичний аналіз/') 6. p-адичний аналіз
                    li: a(href='07 Мотивне інтегрування/') 7. Мотивне інтегрування
                    li: a(href='08 Алгебраїчна топологія/') 8. Алгебраїчна топологія
                    li: a(href='09 Диференціальна геометрія/') 9. Диференціальна геометрія
                    li: a(href='10 Гомотопічна теорія типів/') 10. Гомотопічна теорія типів
                    li: a(href='11 Модельні категорії Квілена') 11. Модельні категорії Квілена
                    li: a(href='12 Сімпліціальна гомотопічна теорія') 12. Сімпліціальна гомотопічна теорія
                    li: a(href='13 Локальна гомотопічна теорія') 13. Локальна гомотопічна теорія
                    li: a(href='14 К-теорія') 14. К-теорія

